/* need to organize code, main elements, typography, etc... 
    need to make nav bar responsive, use media query
    padding and margins are jacked up
*/

* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #161616;
    color: #F3F0D7;
	display: flex;

}

#navbar { /* this should be a class */
    position: fixed;
	width: 25%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
    background-color: #346751;
	border-right: solid;
	border-color: #FFFFFF;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: scroll;
}

h2, h3 {
    padding-left: 20px;
}


h2 {
	font-size: 2.5rem;
	padding: 0 .4em;
}

h2 code { /* why smaller, not bigger? */
    font-size: 1.7rem;
}

h3 {
    color: #C84B31;
    font-size: 1.5rem;
}

.nav-heading {
	background-color: #C84B31;
	margin:0;
	padding: 1em .5em;
}

#navbar ul { /* give ul a class name and target it */
	height: 85%;
	padding: 0;
	margin-top: 0;
}

#navbar li { /* give these a class name instead */
	font-size: 1.5rem;
	position: relative;
	border-top: 0.1rem solid;
	border-color: white;
	width: 100%;
	padding: 1em 0;
}

#navbar a { /* is this for all anchors or only navbar? */
	display: block;
	padding: .5em;
	color: inherit;
	text-decoration: none;
}

#navbar li:hover, #navbar li:focus { /* cut repetitiion, add focus state, active state */
	display: block;
    background-color: #C84B31;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

#main-doc { /* just use main element or class name */
	position: relative;
	margin-top: 0;
	margin-left: 25vw;
	display: flex;
	flex-direction: column;
	
}

#main-h2 { /* took out code... flex box? what's happening ? */
    text-justify: center;
	font-size: 3rem;
	padding-left: 0.2em;
    margin-bottom: .5em;
}

p { /* font-size not necessary, use flexbox for articles for spacing */
	font-size: 1rem;
    margin: 1em;
}

code {  /* bigger not smaller */
	font-size: 0.9rem;
}

.list {
	display: flex;
	flex-direction: column;
	margin-left: 3em;
}

.list-li {
	margin-left: 1em;
}

code #list1 #list2 {  /* margins aren't working, if inside flexbox, can center*/
	font-size: 0.9rem;
	margin-left: 2.5em;
	padding: 0;
}

#example { /* use flexbox or grid for spacing */
    margin-left: 1.25em;
}

a { 
    text-decoration: none;
    color: #C84B31;
}



@media (max-width: 600px) {

    #navbar {
		padding: 0;
		width: 100vw;
		height: 10%;
	}

	#main-doc {
	    position: absolute;
        width: 100vw;
		height: 90%;
        margin-left: 0;
		margin-top: 10vh;
		align-items: center;
	}
  
	.main-section {
		width: 100vw;
	}
}